@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: baseline;
}

.icon {
  align-self: center;
  margin-left: 5px;
}

.infoCard {
  width: 20%;
  max-width: 20%;
  text-align: justify;
  background-color: #ffffffba;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 10px 6px 5px #a6a0ae;
  margin: 10px;
  min-height: 500px;
}

.cardTitle {
  justify-self: center;
  font-size: xx-large;
  font-variant: small-caps;
  font-family: "Bacasime Antique", serif;
  font-weight: 900;
}

.cardContent {
  font-size: 14px;
  font-family: "Poppins", serif;
  font-weight: 400;
}
